

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

body {
    margin:0;
    display:flex;
    flex-wrap:wrap;
    /* justify-content: center; */
    /* align-items:center; */
    flex-direction:column;
    box-sizing: content-box;
    /* background-image: linear-gradient(to top left, #FF80AB 50%, white 100%); */
    background: rgb(240, 239, 239);;
    background-blend-mode: lighten;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 100%;
    width:100%;
}


/*header navbar */
#navbar {
    display:flex;
    justify-content: left;
    /* align-items:center; */
    position: sticky;
    top:0;
    background: darkblue;
    /* border:2px solid black; */
    /* border: 2px solid rgb(211, 209, 209); */
    /* background: rgb(211, 209, 209); */
    /* opacity:0.5; */
}

/* #navbar::before{
    content:"";
    background:black;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:.4;
} */

#navbar ul{
    display:flex;
    justify-content: space-evenly;
    /* justify-content: left; */
}

#navbar ul li {
    list-style-type: none;
    font-size:2.5vh;
    /* border: 2px solid white; */
    /* border-radius:1.0rem; */
    /* background: white; */
}

#navbar ul li a{
    color:rgb(37, 26, 26);
    text-decoration: none;
    margin: 0.7em 0.7em;
    padding: 0.7em 0.7em;
    display:block;
    border-radius:30px;
    color:white;
    font-weight: 600;
}
#navbar ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: #9CF5A6;
    background: #90EE02;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
}

#navbar ul li a:hover{
    /* color:darkblue;
    background: white;
    transition:.5s;
    transition-timing-function: ease-in-out; */
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    color:#90EE02;
    transition: background-size 0.25s ease-in;
    &:hover {
      background-size: 100% 88%;
    }
}

#navbar ul li a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}
/* --container-section */
#information-block {
    margin:1rem;
    margin-top: 2rem;
    /* display:flex; */
    flex-wrap: wrap;
    justify-content: center;
    /* width:100%; */
    overflow:hidden;
    display:grid;
    grid-template-rows: auto auto;
    /* border: 1px solid black; */
    /* border-bottom:10px; */
    margin-bottom:5rem;
}

.update-date {
    /* width:40%; */
    margin-bottom: 1%;
}
.update-date span{
    font-weight: 700;
    font-size: 1.2em;
}

.grid {
    display:grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap:3rem;
    margin-bottom:2rem;
}

.vaccination-block {
    width:100%;
    /* background: rgb(255, 199, 234); */
    background:white;
    /* border: 3px solid rgb(0, 0, 122); */
    margin-right: 1px;
    padding: 15px;
    border-radius: 20px;
    /* box-shadow:-1px 6px 20px 5px grey; */
    /* box-shadow:0px 9px 8px 4px grey; */
    /* margin-top:20px; */
    /* margin-bottom:20px; */
}

.vaccinated-view {
    /* display: flex;
    flex-wrap: wrap; */
    display: flex;
    flex-direction: column;
    position: relative;
    /* min-height: 90px; */
    justify-content: space-around;
    /* height: 100%;*/
}

.vc-title {
    text-transform:uppercase;
    /* opacity: 0.7; */
}

.daycount {
    margin: 20px auto;
    /* background:rgb(255, 160, 219); */
    background:white;
    /* border: 1px solid rgb(187, 125, 163); */
    border-radius: 4px;
    padding: 10px;
    text-align:center;
}

.daycount strong {
    display: block;
    border-bottom: 1px solid #808080;
    padding-bottom: 3px;
    margin-bottom: 3px;
    font-size: 1.7em;
    font-weight: 700;
    color: darkblue;
}

.daycount span {
    text-transform: uppercase;
    max-width: 215px;
    display:block;
}

.totalcount strong {
    display: block;
    font-size: 1.2em;
    font-weight: 700;
}

.total span {
    text-transform: uppercase;
    display:block;
}

.testing-box {
    width:100%;
    /* background: rgb(249, 175, 252); */
    /* margin-right: 2%; */
    background:white;
    /* border: 3px solid rgb(0, 0, 122); */
    padding: 15px;
    border-radius: 20px;
    /* box-shadow:0px 9px 8px 4px grey */
}

.test-box {
    display: flex;
    flex-direction: column;
    position:relative;
    /* min-height: 90px; */
    justify-content: space-around;
    /* height: 100%; */
}

.test-title {
    text-transform: uppercase;
    /* opacity: 0.7; */
}

.testsample {
    margin: 20px auto;
    /* background:rgb(255, 160, 219); */
    background:white;
    /* border: 1px solid rgb(187, 125, 163); */
    border-radius: 4px;
    padding: 10px;
    text-align:center;
}   

.testsample strong{
    display: block;
    border-bottom: 1px solid #808080;
    padding-bottom: 3px;
    margin-bottom: 3px;
    font-size: 1.7em;
    font-weight: 700;
    color: darkblue;
}

.testsample span{
    display: block;
    /* font-weight: 1.2em; */
    text-transform: uppercase;
}

.test-result strong{
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

.information-box {
    width:100%;
    /* background: rgb(185, 253, 244); */
    /* margin-right: 2%; */
    background:white;
    /* border: 3px solid rgb(0, 0, 122); */
    padding: 15px;
    border-radius: 20px;
    /* margin-bottom: 20px; */
}

.information-box:hover, .testing-box:hover, .vaccination-block:hover {
    box-shadow:0px 3px 5px 6px grey;
    /* box-shadow: 28px 28px 30px #C6C7CC, -28px -28px 30px #FFFFFF; */
    transition:.25s ease-in-out;
}

.info-title {
    text-transform: uppercase;
}

.cases-count {
    margin: 20px auto;
    /* background:rgb(255, 160, 219); */
    background:white;
    /* border: 1px solid rgb(187, 125, 163); */
    border-radius: 4px;
    padding: 10px;
    text-align:center;
}

.cases-count strong {
    display: block;
    border-bottom: 1px solid #808080;
    padding-bottom: 3px;
    margin-bottom: 3px;
    font-size: 1.7em;
    font-weight: 700;
    color: darkblue;
}

.cases-count span {
    display: block;
    /* font-weight: 1.2em; */
    text-transform: uppercase;
}

.three-box {
    display:grid;
    grid-template-columns: auto auto auto;
    /* flex-direction: column; */
    grid-gap: 2rem;
    /* border-radius:10px; */
}

.all {
    display:grid;
    grid-template-rows: auto auto;
    /* border:1px solid black; */
    /* border-radius: 10px; */
    /* flex-direction:colums; */
    /* background:rgb(225, 243, 146); */
    /* justify-content: space-around; */
}

.same-title {
    /* background: #ddf769; */
    /* border: 2px solid rgb(225, 243, 146); */
    margin: 30px auto;
    padding: 10px;
    border-radius: 4px;
    /* text-align:center; */
}

.same-title strong{
    display:block;
    font-size: 1.2em;
    font-weight: 700;
    /* border-bottom:2px solid rgb(158, 182, 53); */
}

.sp span {
    text-transform: uppercase;
    font-size:0.9em;
    padding-left: 0.7rem;
    padding-top: 1.5rem;
}

.totalcase {
    background:linear-gradient(to bottom, #d3a70f 0%,#f6d04a 100%);
    border-radius:10px;
}

.discharged {
    background: linear-gradient(to bottom, #9be89c 0%,#cdf97d 100%);;
    border-radius: 10px;
    /* box-shadow:3px 3px 6px 6px grey; */
}

.deaths {
    /* box-shadow:3px 3px 6px 6px grey; */
    background:linear-gradient(to bottom, #fe8683 0%,#ff9d9b 100%);
    border-radius:10px;
}

.totalcase:hover, .discharged:hover, .deaths:hover {
    box-shadow:1px 2px 6px 6px grey;
    transition:.25s ease-in-out;
}

/* container-including-video */
#video-container {
    /* background:rgb(0, 0, 0); */
    background: darkblue;
    background: white;
    /* background: url('india.png'); */
}

#video-class {
    display:flex;
    flex-direction:row;
    margin:40px 10%;
    /* flex-wrap:wrap; */
    /* position:absolute; */
    color:rgb(255, 251, 251);
    justify-content: center;
}

.left {
    color: black;
    display:grid;
    grid-template-rows: auto auto;
    grid-gap: 25px;
    /* margin:1rem; */
    margin-right:9rem;
    width:40rem;
}

.left .up {
    font-size: 3rem;
    font-weight: 700;
}

.left .up span {
    color:darkblue;

}

.left .down {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    /* width: 35rem; */
}

.faq, .mask, .instruct {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    color: black;
}

.faq:hover, .mask:hover, .instruct:hover {
    color: darkblue;
    background:white;
    text-align: center;
    cursor:pointer;
}

.faq i{
    display:block;
    font-size:5.2rem;
}

.mask i{
    display:block;
    font-size:5.2rem;
}

.instruct i .fa-user{
    display:inline-block;
}

.instruct i{
    display:block;
    font-size:5.2rem;
}

.right {
    overflow:hidden;
}

.right img{
    height:500px;
    /* width:20px; */
    /* margin-left:8rem; */
}

/* faq-container */
.faq-container {
    margin:0;
    background-color: #F0EFEF;
    margin:5rem;
    border-radius: 30px;
}

.pop-faq {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:5rem;
}

.pop-faq .text {
    font-weight: 700;
    /* margin-top:0.5rem; */
    font-size:8vh;
    margin-bottom: 1.5rem;
}

.question .ques-item {
    line-height: 2.6rem;
    margin-bottom:1rem;
    list-style-type: none;
}

.question .ques-item strong {
    font-size:1.8em;
}
.question .ques-item span {
    font-size: 1.5rem;
}
/* mask-container */
.mask-container {
    margin:0;
    background-color: #F0EFEF;
    margin:5rem;
    border-radius: 30px;
}

.pop-mask {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.pop-mask .text {
    font-weight: 700;
    margin-top:1rem;
    font-size:7vh;
}

.animation-points {
    display:flex;
    flex-direction:row;
    /* flex-wrap:wrap; */
}

.mask-points {
    padding: 3.1rem;
}

.mask-points .points li {
    font-size:1.5rem;
    margin:2rem;
}

/* pop-up-do-dont */
.pop-container {
    /* margin-bottom:2rem; */
    margin:0;
    border-radius:30px;
    background: #F0EFEF;
    margin:5rem;
}
.pop-do-dont {
    /* margin-top:4rem; */
    /* display: flex;
    flex-direction: column;
    background: white;
    /* grid-gap: 2rem; */
    /* justify-content: center; */
    /* align-items: center; */
    display:grid;
    grid-template-rows: auto auto;
    text-align: center;
}

.pop-do-dont .text strong {
    margin-top:4rem;
    font-weight: 700;
    color: black;
    font-size: 5rem;
    text-align: center;
}

.pop-do-dont .both {
    display: flex;
    /* grid-template-columns: auto auto; */
    flex-direction: row;
    /* text-align: center; */
    margin: 5rem;
    text-align: left;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* margin-top: -18rem;*/
}

.dos , .donts {
    display: grid;
    grid-template-rows:rows;
    /* margin-top:0; */
    margin-right: 5rem;
    margin-left: 5rem;
    /* text-align: center; */
}

.dos strong {
    text-align: center;
    color: green;
    /* border:1px solid green; */
    font-size:6.5rem;
    margin-bottom:7rem;
}

.dos ul li {
    font-size: 2.0rem;
}

.line { 
    border-left: 6px solid black; 
    height: 45rem; 
    position:absolute; 
    left: 50%; 
    opacity:.3;
} 

.donts strong {
    text-align: center;
    color: red;
    font-size:6.5rem;
}

.donts ul li {
    font-size: 2.0rem;
}

/* .hidden {
    display:none;
} */

/* news-continer */
#news {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top:2rem;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom:6rem;
}

.news-text {
    font-size:3rem;
    font-weight: 700;
    /* text-align:left; */
}

.news-grid {
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap:0.5rem;
}

.news-grid li {
    list-style-type:none;
    /* border: 2px solid darkblue; */
    margin:1rem;
    border-radius:20px;
}

.news-grid li:hover {
    box-shadow:2px 2px 6px 6px grey;
    transition:.25s ease-in-out;
    transform: scale(1.2);
}

.news-grid .item {
    /* border:1px sold darkblue; */
    padding: 2rem;
    background: white;
    width:25rem;
}

.news-grid .news-headlines a {
    text-decoration:none;
    color:black;
}

.news-grid .news-headlines a:hover {
    color: darkblue;
}

.three {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.news-image img {
    height:15rem;
    width:20rem;
    border-radius:10px;
}

.news-headlines {
    font-weight:700;
    font-size: 1.4rem;
    text-align: center;
    /* color:linear-gradient(to top , black);*/
    /* background-image: linear-gradient(45deg, #f3ec78, #af4261); */
    /* text-emphasis-color: transparent; */
}

/* contact-container */
#contact-us {
    /* background: white; */
     background:darkblue;
}

.contact {
    display:grid;
    grid-template-columns: auto auto;
    grid-gap:1rem;
    margin:1rem;
}

.left-contact {
    color:white;
    font-weight:700;
    font-size:1.5rem;
    text-align: center;
    display:flex;
    align-items:center;
    justify-content: center;
}

.left-contact a {
    text-decoration: none;
    color:white;
}

.right-contact a {
    font-size:2.5rem;
    margin:2rem;
    font-weight: 700;
    color:white;
    text-decoration:none;
}

.right-contact a:hover , .left-contact a:hover {
    color:#90EE02;
} 


.hidden {
    display:none;
} 

@media screen and (max-width:1100px) {
    .grid {
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .vaccination-block , .testing-box , .information-box {
        margin-bottom:1rem;
    }

    /* #video-class {
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
    } */
    .left {
        text-align: center;
        margin-right: 0;
    }
    .right img{
        display:none;
    }

    .news-grid {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pop-do-dont .both {
        display: flex;
        flex-direction: column;
    }

    .animation-points {
        display:flex;
        flex-direction:column;
        /* flex-wrap:wrap; */
    }
    
    .animation-points .animation {
        display: flex;
        justify-content: center;
    }

    .contact {
        display: flex;
        /* grid-template-columns: auto auto; */
        /* grid-gap: 1rem; */
        margin: 1rem;
        flex-direction: column;
        /* justify-content: center; */
        /* flex-wrap: wrap;*/
    }

    .right-contact {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
